# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual environment stuff
venv/

# dotenv environment variables
.env

# editor directories
.vscode/
.idea/

# os-specific
.DS_Store
Thumbs.db

# Log files
*.log

# celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule-shm
celerybeat-schedule-wal

# flask
flask_session/

# ignore migration cache files but keep migration scripts
migrations/versions/*.pyc
migrations/versions/__pycache__/

#sql files
/backup_koyebdb.sql